<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimpleDataApp.Properties.Settings.connString" connectionString="Data Source=DESKTOP-KVL35UB\MSSQLSERVER01;Initial Catalog=Sales;Integrated Security=True;Pooling=False" />
    </connectionStrings>
</configuration>